
.hudContainer{
    display: flex;
}

.hudContainer p{
    text-align: center;
    font-size: 24px;
}

div .hudContainer{
    justify-content: center;
    align-items: center;
}

div .hudContainer button{
    border-radius: 75%;
    height: 40px;
    width: 40px;
}

.stock{
    width: 2em;
    height: 2em;
    text-align: justify;
}

/* ui button */

/* From Uiverse.io by ernestnash */ 
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(14, 151, 14);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    margin-left: 3em;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 151, 14, 0.589);;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}