.NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawerButton
{
    padding: 25px;
}

.EZDrawer .EZDrawer__container{
    background-color: rgba(225, 239, 247, 0.397)
}

.drawer{
    width: 2.5em;
    justify-content: center;
    align-items: center;
}