.NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawerButton
{
    padding: 25px;
}

.EZDrawer .EZDrawer__container{
    background-color: rgba(225, 239, 247, 0.397)
}

.drawer{
    width: 2.5em;
    justify-content: center;
    align-items: center;
}

.containerNotification{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification{
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    top: 24px;
    left: 10px;
    font-size: 20px;
}   

div ul li{
    list-style-type: none;
    font-size: 20px;
}

.ul_container{
    display: flex;
    justify-content: center;
    align-items: center;
}